{% extends 'base.html.twig' %}

{% block title %}JMLBZZ - Construction{% endblock %}

{% block body %}
<div class="soon__container">
    <div class="soon__background">
        <!--<video src="background.mp4" muted autoplay loop></video>-->
        <img src="{{asset("img/soon_bg_photo.png")}}" alt="background photo">
    </div>

    <h1 class="soon__title">Coming Soon</h1>

    <div class="soon__sm">
        <a href="{{ path('app_front') }}#home"><i class="fa-solid fa-house"></i></a>
        <a href="{{ path('app_front') }}#contact"><i class="fa-solid fa-envelope"></i></a>
    </div>
</div>
{% endblock %}
